.flex-container {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
}

.flex-item {
    background-color: #a0c3e0;
    color: white;
    margin: 5px;
    padding: 20px;
    text-align: center;
    flex: 1;
}


.todo-item {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
}