body {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}




.flex-container {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    gap: 20px;
}

.flex-item {
    background: gray;
    border-radius: 20px;

    padding: 24px;
    box-shadow: 0 10px 25px rgba(255,255,255,0.2);
    max-height: 1000px;
    max-width: 1000px;

}


.todo-item {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
}